/* ------------------INCIO-------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none
}


main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    justify-items: center;
    gap: 25px;
}

h2 {
    display: grid;
    justify-items: center;
}

#inicio {
    padding: 20px;
    font-size: 25px;
    grid-area: 1 / 2 / 2 / 5;
}

#sobrenosotros{
    font-size: 25px;
    padding: 20px;
    grid-area: 2 / 2 / 3 / 5;
}

.texto {
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body {
    overflow-y: scroll;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100; 
    display:grid;
}

/* -----------------------NAVBAR----------------------- */

.nav__responsive-ul {
    display: none;
}

.nav {
    display: grid;
    border-radius: 10px;
    margin: 5px 5px 5px 5px; 
    justify-items: end;
}

.nav__li {
    display:inline-block;
    padding: 12px;
    position: relative;
}

.nav__li a {
    color:black;
    text-decoration: none;
    text-align: center;
}



/*-----------------------RESPONSIVE--------------------*/

@media screen and (max-width:500px) {


  /* <index> */
*{
    padding: 0px;
    margin: 0px;
}
  body{
    width: 100%;
  }

.texto{
    text-align: center;
    font-size: 20px;
} 

h2{
    justify-content: center;
    font-size: 30;
}

.nav {
    padding-top: 10px;
    padding-right: 180px;
    font-size: 2rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.nav li{
    list-style: none;
    padding-right: 184px;
    justify-content:center;
}

.nav li a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-size: 30px;
    justify-content: center;
}
/*formulario*/
.imagenFormulario {
    width: 10px;
}
/*footer*/

.footer{
    margin: 0px;
    padding-right: 120px;
}

} 
/*--------SOBRE NOSOTROS--------*/

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.parrafo__sn {
        font-size: 20px;
        padding: 5px;
        justify-content: center;
        margin-top: 10px;
}

.imagen {
    grid-area: 1 / 1 / 3 / 6;
}

.imagenSobreNosotros {
        float: right;
        width:100vh;
        padding: 5px;
        margin-top: 20px;
}
 
#video {
    grid-area: 3 / 1 / 5 / 3; 
}

.video{
    height:315px;
    width:560px;
    padding: 10px;
}

.texto-video {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
}


/* -----------------------FOOTER----------------------- */
.footer {
    display: flex;
    background-color: #002244;
    justify-content: center;
    border-radius:  10px; ;
    margin: 5px 5px 5px 5px;
}

.footer__li {
    color: white;
    display: inline-block;
    padding: 12px;
}

.footer__li:hover {
    color: black;
    font-size: x-large;
    transition: 0.5s;
}

/* -----------------------FORMULARIO----------------------- */
.flex-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    justify-content: center;
    background: black;
    margin: 50px 50px;
    padding: 20px;
    border: 20px solid white;
    outline: 4px solid white;
}

.form {
    grid-area: 1 / 3 / 3 / 6;
    flex: 1;
    padding: 30px;
    order: 5;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid bisque;
    background: transparent;
    color: #fff;
}

.form__input:focus {
    background: #333;
    outline: none;
    border-bottom: 3px solid #5dd;
}

.form textarea {
    resize: none;
}

.form-img {
    padding: 10px;
    display: flex;
    grid-area: 1 / 1 / 3 / 3;

}
.form-img div {
    padding: 10px;
}

.imagenFormulario{
    width: 44vh;
}

.img-container div {
   background-color: #fff;
   border-radius: 50%;
}

/*-----------GALERIA CON FLEX-------------------*/


.caja {
  margin: 15px;
  width: 46%;
  text-align: center;  
}

.img {
      height: 70%;
      width: 30%;
      border-radius: 30px;   
      text-align: center;  
}
 

.titulos {
   width: 100%;
   text-align: center;
   font-size: 50px;
   margin-top: 30px;
   margin-bottom: 30px;
 }
 
 .explicacion {
     text-align: center;
     font-size: 14px;
 }
 
 .precio {
     padding: 5px;
     text-align: center;
 }

 .modificadoresFlex{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .comprar {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: grey;
    border-color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition:1s ; 
 }

 .comprar:hover {
    background-color: #09203f;
 }
 
 

/*---------------TRANSICIONES---------------*/
