/*variables*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.d-block {
  width: 100vh;
  height: 100vh; }

.bg-nav {
  background-color: black; }

body {
  overflow-y: scroll;
  color: #fff;
  background: linear-gradient(337deg, #433c58 6%, #00010c 40%);
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.btn-enviar {
  background-color: black;
  transition: all 0.5 ease-out;
  color: #fff; }
  .btn-enviar:hover {
    background-color: #002244;
    transform: scale(0.8); }

.nav-link {
  color: #fff;
  transition: 0.5s; }
  .nav-link:hover {
    color: #0a6cec;
    font-size: x-large; }

.navbar-nav .nav-link.active {
  color: #fff;
  transition: 0.5s; }
  .navbar-nav .nav-link.active:hover {
    color: #0a6cec;
    font-size: x-large; }

.navbar-brand {
  color: #fff;
  transition: 0.5s; }
  .navbar-brand:hover {
    color: #0a6cec;
    font-size: x-large; }

.centro {
  display: flex;
  justify-content: center; }

.parrafo__sn {
  font-size: 3vh;
  padding: 5px;
  justify-content: center;
  margin-top: 10px;
  color: #fff; }

.footer {
  background-color: #002244;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; }

.footer__ul {
  display: flex;
  justify-content: space-around; }

.caja {
  margin: 15px;
  width: 46%;
  text-align: center; }

.img {
  height: 70%;
  width: 30%;
  border-radius: 30px;
  text-align: center; }

.titulos {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff; }

.explicacion {
  text-align: center;
  font-size: 14px;
  color: #fff; }

.precio {
  padding: 5px;
  text-align: center;
  color: #fff; }

.modificadoresFlex {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.btn-comprar {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: grey;
  border-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 1s; }
  .btn-comprar:hover {
    background-color: #09203f; }
